# AWS Configuration
AWS_REGION=ca-central-1
AWS_ACCOUNT_ID=655009248147
PROJECT_NAME=hqmemes
ENVIRONMENT=prod

# Domain Configuration
DOMAIN_NAME=dev.gharbidev.com
HOSTED_ZONE_ID=Z005982130NMVGKL0RYQ1

# Subdomains
FRONTEND_DOMAIN=hqmemes.dev.gharbidev.com
ASSETS_DOMAIN=assets-hqmemes.dev.gharbidev.com
API_DOMAIN=api-hqmemems.dev.gharbidev.com

# Frontend Environment Variables
VITE_APP_NAME=HQMemes
VITE_MAX_UPLOAD_SIZE=10485760
VITE_MAX_FILES_PER_UPLOAD=10
VITE_POLLING_INTERVAL=5000
FRONTEND_CERTIFICATE_ARN=arn:aws:acm:us-east-1:655009248147:certificate/92fd7f09-3baa-4815-baf4-eea4b3d36432
ASSETS_CERTIFICATE_ARN=arn:aws:acm:us-east-1:655009248147:certificate/decbda21-7170-4d7f-af6c-9e95275e2908

# CloudFront Certificates (us-east-1)
FRONTEND_CERTIFICATE_ARN=arn:aws:acm:us-east-1:655009248147:certificate/436ca027-ae1f-4392-8f01-1c915b664a79
ASSETS_CERTIFICATE_ARN=arn:aws:acm:us-east-1:655009248147:certificate/deed6bda-4836-4fd1-9b28-f40cded12041
